@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background: url('../images/pokemon-bkg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

header {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
}

.container {
    background-color: rgba(255,255,255,.8);
    padding: 50px;
    border-radius: 20px;
}

.listaPokemon {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.listaPokemon li {
    background-color: #cccccc;
    padding: 5px 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    list-style: none;
}

.listaPokemon li:hover {
    background-color: aquamarine;
}

.listaPokemon li a:not([href]):not([class]), 
.listaPokemon li a:not([href]):not([class]):hover {
    text-decoration: underline;
}

.detallePokemon h2 {
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 20px;
}

.detallePokemon>div {
    text-align: center;
    margin-top: 30px;
}

.detallePokemon div.detalles {
    text-align: left;
}

.detallePokemon div.detalles h3 {
    font-weight: bold;
    margin-top: 30px;
}

.detallePokemon div.detalles ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.detallePokemon div.detalles ul li {
    width: 30%;
}